body {
  background-color: whitesmoke; 
  color:  lightslategray;           
  font-family: sans-serif;
}

h1, h2 {
  color: grey;
}

.card-text {
  color: lightgrey;
}



.card-title {
  color: black; 
}

.card .text-muted {
  color: lightgray;
}


.card-img-top {
  max-height: 100px;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
}